.mask{
  position: fixed;
  z-index: 998;
  width:100%;
  height:100%;
  background: rgba(0,0,0,.7);
}
#map-base{
  height: 100%;
  i.fa{
    color: rgb(84, 141, 212);
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin: 0;
    //padding-top:40%;
  }
}

.custom_circle{
  width: .3rem;
  height: .3rem;
  fill: rgb(0, 122, 255);
  fill-opacity: 0.4;
  stroke-width: 0;
}
.tip_out{
  position: relative;
  .tip{
    position: absolute;
    width: 120px;
    left: -60px;
    bottom: 0;
  }
  .tip_name{
    background: rgba(0, 122, 255,0.7);
    padding:10px 0;
    text-align: center;
    font-size: 13px;
    color: #fff;
    border-radius: 4px;
  }
  .tip .tip_start, .tip .tip_end{
    float: left;
  }
  .tip_footer{
    width:100%;
    height: 10px;
    background: none !important;
    text-align: center;
    position: relative;
    #triangle-down {
      position: absolute;
      left:50%;
      margin-left:-10px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid rgba(0, 122, 255,0.7);
    }
  }
}


#map-base.amap-subway-api .route_close_btn{
  width:.7rem;
  height:.7rem;
  position: fixed;
  z-index: 999;
  top:1.3rem;
  right:.35rem;
  box-shadow: none;
}

#line-tip{
  width:.7rem;
  height:.7rem;
  //overflow: hidden;
  //border:1px solid #9d9d9d;
  border-radius: .03rem;
  position: fixed;
  z-index: 999;
  top:1.3rem;
  right:.35rem;
  font-size: .06rem;
  background: #FeFeFe;
  color: #9d9d9d;
  font-weight: 300;
  text-align: center;
  //padding-top:.07rem;
  box-shadow: 0 0 6px 1px rgba(0,0,0,.3);

  .fa{
    font-size: .4rem;
  }
  .btn-text{
    display: block;
    font-size: .2rem;
  }

  .line-list{
    background: #FeFeFe;
    width:600%;
    margin-left:-500%;
    height:700%;
    overflow: auto;
    border-radius: .03rem;
    text-align: left;

    ul{
      padding:0 .25rem;
      li{
        height:.85rem;
        line-height: .85rem;
        border-bottom: 1px solid rgb(200, 200, 200);
        font-size: .25rem;

        .line-color{
          display: inline-block;
          width:.65rem;
          height:.15rem;
          margin-right: .2rem;
        }
      }
    }
  }
}